<div class="section">
  <div class="container">
    <div class="row">

		       <div class="logosquadra"></div>
           <h1 id="teamtitle"></h1>
           <div class="clear"></div>

            <a id="notizie" href="javascript:toggle_notizie();" class="btn_toggle"></a>
            <div id="feed" style="display:none"></div>
            <div class="clear"></div>

            <a id="giocatori" href="javascript:toggle_players();" class="btn_toggle"></a>
            <table id="players" class='table table-striped' style="display:none">
            <thead></thead>
            <tbody></tbody>
            </table>
            <div class="clear"></div>

           <a id="risultati" href="javascript:toggle_fixtures();" class="btn_toggle"></a>
           <table id="fixtures" class='table table-striped' style="display:none">
             <thead></thead>
             <tbody></tbody>
           </table>
           <div class="clear"></div>
    
  </div>
</div>
